<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sing Up</title>
</head>
<body>

   {% if messages %} 
        {% for message in messages %}
            <small {% if message.tags%} class="{{message.tags}}" {% endif %}>{{message}}</small>
        {% endfor %}
    {% endif %}

    <h2>User Profile Page</h2>

    
    <br/>
    
    <a href="{% url 'changepass' %}"> Change Password </a>
    <br/>
    <br/>
    <br/>
    <a href="{% url 'profile_edit' %}"> Edit Profile </a>
    <br/>
    <br/>
    <br/>
    <a href="{% url 'singout' %}"> Logout </a>
    
</body>
</html>